{% extends "layout.html.twig" %}

{% block content %}
    <main class="app-content">
    <div class="jumbotron">
            <h1 class="display-4">Unknow error</h1>
            <p class="lead">An error has occurred. Please try again later.</p>
            <hr class="my-4">
            <p>For more information, please contact the administrator.</p>
            <a class="btn btn-primary btn-lg" href="/" role="button">Go back to homepage</a>
        </div>
</main>

{% endblock %}
